MS4/DataExport_Schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Guid" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Path" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Absender" 	type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Belegnummer" 	type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Datum" 		type="ds:date" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Volltext" 	type="xs:string" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Attributions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Abteilungsnummer" type="xs:decimal" 	minOccurs="1" maxOccurs="1"/>
				<xs:element name="Abteilung" 		type="xs:string" 	minOccurs="1" maxOccurs="1"/>
				<xs:element name="Projektnummer" 	type="xs:decimal" 	minOccurs="0" maxOccurs="1"/>
				<xs:element name="Projekt" 			type="xs:string" 	minOccurs="0" maxOccurs="1"/>
				<xs:element name="Verantwortlicher" type="xs:string" 	minOccurs="0" maxOccurs="1"/>
				<xs:element name="Kostenstelle" 	type="xs:string" 	minOccurs="0" maxOccurs="1"/>
				<xs:element name="Sachkonto" 		type="xs:string" 	minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>